body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 10px 0 0 0;
    font-size: 18px;
}

section {
    padding: 50px 20px;
}

.bio {
    text-align: center;
}

.bio img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills ul li {
    margin: 10px;
    padding: 10px 20px;
    background-color:rgb(96, 96, 255);
    color: #fff;
    border-radius: 20px;
}

.project {
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(249, 111, 111, 0.1);
    transition: box-shadow 0.3s ease;
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.resume_contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;

}
.project h3 {
    margin-top: 0;
}

.project p {
    font-size: 16px;
}

.project img {
    max: width 100px;;
    height: 500px;
    width: 450px;
    border-radius: 8px;
}

#resume p {
    height: 200px;
    font-size: 18px;
}

.contact-info {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info p {
    margin: 10px 20px;
    font-size: 18px;
}

footer {
    background-color: #343434;
    color: #fff9f9a3;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
